/* ESTILOS GLOBALES
-------------------------------------------------- */

/* Navbar personalizada */
.navbar-custom {
  background-color: black;
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
  color: white;
}

.navbar-custom .social-icons a {
  color: white;
  margin-left: 15px;
}

/* Carrusel
-------------------------------------------------- */
.carousel {
  margin-bottom: 4rem;
}

.carousel-item {
  height: 41rem;
}

.carousel-caption {
  bottom: 15rem;
  z-index: 10;
  text-align: center;
}

/* Ajustes para el carrusel en móviles */
@media (max-width: 768px) {
  .carousel-caption {
    bottom: 50%; /* Centra verticalmente los textos */
    transform: translateY(50%); /* Ajuste fino para asegurar el centrado */
    padding: 1rem;
    text-align: center;
  }

  .carousel-caption h5 {
    font-size: 1rem; /* Reducir el tamaño del título para que no se corte */
    font-weight: bold;
    white-space: nowrap; /* Evitar que se corte en varias líneas */
    overflow: hidden; /* Prevenir el desbordamiento */
    text-overflow: ellipsis;
  }

  .carousel-caption p {
    font-size: 0.9rem; /* Ajustar el tamaño del subtítulo */
    line-height: 1.2; /* Mejorar legibilidad */
  }

  /* Ajustar márgenes para alineación uniforme entre todos los banners */
  .carousel-item {
    display: flex;
    align-items: center; /* Centra todo el contenido verticalmente */
    justify-content: center;
  }
}


/* Tecnologías
-------------------------------------------------- */
#technologies h2 {
  margin-bottom: 2rem;
}

.tech-circle {
  width: 100px;
  height: 100px;
  background-color: #e9ecef;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.tech-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tech-title {
  margin-top: 10px;
  font-size: 1.2rem;
}

/* Demo
-------------------------------------------------- */
.demo-card {
  border: 1px solid #ddd;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 300px;
  margin: 0 auto 2rem;
}

.demo-card img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.platforms-info {
  font-size: 1rem;
  color: #6c757d;
  margin-top: 1rem;
  text-align: center;
}

.btn-black {
  background-color: #000;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  border: none;
  transition: background-color 0.3s;
  font-size: 1rem;
  margin-bottom: 10px;
}

.btn-black:hover {
  background-color: #d31515;
}

.demo-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Footer
-------------------------------------------------- */
.site-footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content p {
  margin: 5px 0;
  font-size: 0.9rem;
}
